.tool-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-padding: 2px 5px 2px 5px;
}
.tool-button:hover {
    -fx-background-color: lightgray;
}
.tool-button:pressed {
    -fx-background-color: darkgray;
}
.tool-button:selected {
    -fx-background-color: silver;
}